body {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.df {
  display: flex;
}
.e {
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: 960px;
}
